src/*.exe
src/pndcoin
src/pndcoind
src/test_pndcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.pndcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
pndcoin-qt
PnDcoin-Qt.app

# Unit-tests
Makefile.test
pndcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
